# vim
*.sw*

*.o

Makefile
config.log
config.status
Makefile.in
aclocal.m4
autom4te.cache/
configure
depcomp
doc/Makefile.in
install-sh
missing
src/Makefile.in
src/dbgen/Makefile.in
doc/Makefile
scripts/dbt3_profile
scripts/pgsql/db_stats.sh
scripts/pgsql/get_query_plan.sh
scripts/pgsql/pgsql_profile
scripts/pgsql/run_power_query.sh
scripts/pgsql/run_rf1.sh
scripts/pgsql/run_rf2.sh
scripts/pgsql/run_throughput_stream.sh
scripts/pgsql/throughput_stream_wrapper.sh
src/Makefile
src/dbgen/.deps/
src/dbgen/Makefile
src/dbgen/dbgen
src/dbgen/qgen
