# vim
*.sw*

*.o

# cmake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
Makefile

# cpack
builds/
_CPack_Packages/
CPackConfig.cmake
CPackSourceConfig.cmake
*.Z
*.xz
*.gz
*.bz2

doc/dbt3-user-guide.html
scripts/sapdb/build_db.sh
scripts/sapdb/create_db.sh
scripts/sapdb/create_indexes.sh
scripts/sapdb/create_tables.sh
scripts/sapdb/drop_tables.sh
scripts/sapdb/load_db.sh
scripts/sapdb/sapdb_profile
scripts/sapdb/update_statistics.sh
src/dbgen/

tags

.pc/
