# vim
*.sw*

*.o

Makefile
config.log
config.status
Makefile.in
aclocal.m4
autom4te.cache/
configure
depcomp
install-sh
missing
doc/dbt3-user-guide.html
src/Makefile.in
src/dbgen/Makefile.in
scripts/sapdb/build_db.sh
scripts/sapdb/create_db.sh
scripts/sapdb/create_indexes.sh
scripts/sapdb/create_tables.sh
scripts/sapdb/drop_tables.sh
scripts/sapdb/load_db.sh
scripts/sapdb/sapdb_profile
scripts/sapdb/update_statistics.sh
src/Makefile
src/dbgen/.deps/
src/dbgen/Makefile
src/dbgen/dbgen
src/dbgen/qgen
